.background {
  &__red {
    background-color: red;
  }
  &__black {
    background-color: black;
  }
  &__green {
    background-color: green;
  }
  &__yellow {
    background-color: yellow;
  }
  &__blue {
    background-color: blue;
  }
  &__brown {
    background-color: brown;
  }
  &__pink {
    background-color: pink;
  }
  &__purple {
    background-color: purple;
  }
  &__maroon {
    background-color: maroon;
  }
  &__lightgray {
    background-color: lightgray;
  }
  &__gray {
    background-color: gray;
  }
  &__empty {
    background-color: transparent;
  }
}

.plainColor {
  &__red {
    color: red;
  }
  &__black {
    color: black;
  }
  &__green {
    color: green;
  }
  &__yellow {
    color: yellow;
  }
  &__blue {
    color: blue;
  }
  &__brown {
    color: brown;
  }
  &__pink {
    color: pink;
  }
  &__purple {
    color: purple;
  }
  &__maroon {
    color: maroon;
  }
  &__white {
    color: white;
  }
  &__lightgray {
    color: lightgray;
  }
  &__gray {
    color: gray;
  }
}

.borderColor {
  &__red {
    border-color: red;
  }
  &__black {
    border-color: black;
  }
  &__green {
    border-color: green;
  }
  &__yellow {
    border-color: yellow;
  }
  &__blue {
    border-color: blue;
  }
  &__brown {
    border-color: brown;
  }
  &__pink {
    border-color: pink;
  }
  &__purple {
    border-color: purple;
  }
  &__maroon {
    border-color: maroon;
  }
  &__lightgray {
    border-color: lightgray;
  }
  &__gray {
    border-color: gray;
  }
  &__empty {
    border-color: transparent;
  }
}