* {
  box-sizing: border-box;
}

.Mask {
  width: 100%;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.grid-col {
  padding-left: 24px;
  box-sizing: inherit;
  flex-basis: auto;
  min-width: 0;
}

.contentCenter {
  justify-content: center;
}