.margin {
  &__top {
    &__xx-small {
      margin-top: 15px;
      -webkit-margin-before: 1%;
    }
    &__x-small {
      margin-top: 60px;
      -webkit-margin-before: 5%;
    }
    &__small {
      margin-top: 180px;
      -webkit-margin-before: 15%;
    }
    &__medium {
      margin-top: 360px;
      -webkit-margin-before: 30%;
    }
    &__large {
      margin-top: 540px;
      -webkit-margin-before: 45%;
    }
    &__x-large {
      margin-top: 720px;
      -webkit-margin-before: 60%;
    }
    &__xx-large {
      margin-top: 900px;
      -webkit-margin-before: 75%;
    }
    &__max {
      margin-top: 1140px;
      -webkit-margin-before: 100%;
    }
  }

  &__bottom {
    &__xx-small {
      margin-bottom: 15px;
      -webkit-margin-after: 1%;
    }
    &__x-small {
      margin-bottom: 60px;
      -webkit-margin-after: 5%;
    }
    &__small {
      margin-bottom: 180px;
      -webkit-margin-after: 15%;
    }
    &__medium {
      margin-bottom: 360px;
      -webkit-margin-after: 30%;
    }
    &__large {
      margin-bottom: 540px;
      -webkit-margin-after: 45%;
    }
    &__x-large {
      margin-bottom: 720px;
      -webkit-margin-after: 60%;
    }
    &__xx-large {
      margin-bottom: 900px;
      -webkit-margin-after: 75%;
    }
    &__max {
      margin-bottom: 1140px;
      -webkit-margin-after: 100%;
    }
  }

  &__left {
    &__xx-small {
      margin-left: 15px;
      -moz-margin-start: 1%;
      -webkit-margin-start: 1%;
    }
    &__x-small {
      margin-left: 60px;
      -moz-margin-start: 5%;
      -webkit-margin-start: 5%;
    }
    &__small {
      margin-left: 180px;
      -moz-margin-start: 15%;
      -webkit-margin-start: 15%;
    }
    &__medium {
      margin-left: 360px;
      -moz-margin-start: 30%;
      -webkit-margin-start: 30%;
    }
    &__large {
      margin-left: 540px;
      -moz-margin-start: 45%;
      -webkit-margin-start: 45%;
    }
    &__x-large {
      margin-left: 720px;
      -moz-margin-start: 60%;
      -webkit-margin-start: 60%;
    }
    &__xx-large {
      margin-bottom: 900px;
      -moz-margin-start: 75%;
      -webkit-margin-after: 75%;
    }
    &__max {
      margin-left: 1140px;
      -moz-margin-start: 100%;
      -webkit-margin-start: 100%;
    }
  }

  &__right {
    &__xx-small {
      margin-right: 15px;
      -webkit-margin-end: 1%;
    }
    &__x-small {
      margin-right: 60px;
      -webkit-margin-end: 5%;
    }
    &__small {
      margin-right: 180px;
      -webkit-margin-end: 15%;
    }
    &__medium {
      margin-right: 360px;
      -webkit-margin-end: 30%;
    }
    &__large {
      margin-right: 540px;
      -webkit-margin-end: 45%;
    }
    &__x-large {
      margin-right: 720px;
      -webkit-margin-end: 60%;
    }
    &__xx-large {
      margin-right: 900px;
      -webkit-margin-end: 75%;
    }
    &__max {
      margin-right: 1140px;
      -webkit-margin-end: 100%;
    }
  }
}