@import "containers", "borders", "colors", "texts", "size", "screens", "margins", "modalStyle";

.home-btn {
  width: calc(50% - 30px);
}

.nav-btn {
  width: calc(50% - 30px);
  display: inline-block;
  text-align: right;
}

ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: flex;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-btn select {
  display: none;
}

button {
  border: none;
  cursor: pointer;
}

.docNav {
  position: fixed;
  top: 5%;
  width: 100%;
}

footer {
  border-top: 1px solid lightgray;
}
