$screen-mobile: 600px;
$screen-tablet: 800px;
$screen-computer: 1200px;

@media (max-width: $screen-computer) {

}

@media (max-width: $screen-tablet) {

}

@media (max-width: $screen-mobile) {
  .nav-btn ul {
    display: none;
  }

  .nav-btn select {
    display: inline-block !important;
    list-style-type: none;
    margin: 10% 0 0;
    -webkit-margin-before: 7%;
    padding: 0;
    overflow: hidden;
    width: 120px;
  }
}
