.size {
  &__horizontal {
    &__x-small {
      width: 10%;
    }
    &__small {
      width: 25%;
    }
    &__medium {
      width: 50%;
    }
    &__big {
      width: 75%;
    }
    &__max {
      width: 100%;
    }
  }
  &__vertical {
    &__x-small {
      height: 10%;
    }
    &__small {
      height: 25%;
    }
    &__medium {
      height: 50%;
    }
    &__big {
      height: 75%;
    }
    &__max {
      height: 100%;
    }
  }
}