* {
  box-sizing: border-box; }

.Mask {
  width: 100%; }

.container {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.grid-row {
  display: flex;
  flex-flow: row wrap;
  list-style: none; }

.grid-col {
  padding-left: 24px;
  box-sizing: inherit;
  flex-basis: auto;
  min-width: 0; }

.contentCenter {
  justify-content: center; }

.border__round-corners__small {
  border-radius: 25px;
  padding: 20px;
  width: 100px;
  height: 100px; }
.border__round-corners__medium {
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 200px; }
.border__round-corners__large {
  border-radius: 25px;
  padding: 20px;
  width: 300px;
  height: 300px; }
.border__circle__small {
  border-radius: 50%;
  width: 100px;
  height: 100px; }
.border__circle__medium {
  border-radius: 50%;
  width: 200px;
  height: 200px; }
.border__circle__large {
  border-radius: 50%;
  width: 300px;
  height: 300px; }

.background__red {
  background-color: red; }
.background__black {
  background-color: black; }
.background__green {
  background-color: green; }
.background__yellow {
  background-color: yellow; }
.background__blue {
  background-color: blue; }
.background__brown {
  background-color: brown; }
.background__pink {
  background-color: pink; }
.background__purple {
  background-color: purple; }
.background__maroon {
  background-color: maroon; }
.background__lightgray {
  background-color: lightgray; }
.background__gray {
  background-color: gray; }
.background__empty {
  background-color: transparent; }

.plainColor__red {
  color: red; }
.plainColor__black {
  color: black; }
.plainColor__green {
  color: green; }
.plainColor__yellow {
  color: yellow; }
.plainColor__blue {
  color: blue; }
.plainColor__brown {
  color: brown; }
.plainColor__pink {
  color: pink; }
.plainColor__purple {
  color: purple; }
.plainColor__maroon {
  color: maroon; }
.plainColor__white {
  color: white; }
.plainColor__lightgray {
  color: lightgray; }
.plainColor__gray {
  color: gray; }

.borderColor__red {
  border-color: red; }
.borderColor__black {
  border-color: black; }
.borderColor__green {
  border-color: green; }
.borderColor__yellow {
  border-color: yellow; }
.borderColor__blue {
  border-color: blue; }
.borderColor__brown {
  border-color: brown; }
.borderColor__pink {
  border-color: pink; }
.borderColor__purple {
  border-color: purple; }
.borderColor__maroon {
  border-color: maroon; }
.borderColor__lightgray {
  border-color: lightgray; }
.borderColor__gray {
  border-color: gray; }
.borderColor__empty {
  border-color: transparent; }

.textPos__left__small {
  text-align: left;
  font-size: 100%; }
.textPos__left__medium {
  text-align: left;
  font-size: 150%; }
.textPos__left__big {
  text-align: left;
  font-size: 200%; }
.textPos__center__small {
  text-align: center;
  justify-content: center;
  font-size: 100%; }
.textPos__center__medium {
  text-align: center;
  justify-content: center;
  font-size: 150%; }
.textPos__center__big {
  text-align: center;
  justify-content: center;
  font-size: 200%; }
.textPos__right__small {
  text-align: right;
  font-size: 100%; }
.textPos__right__medium {
  text-align: right;
  font-size: 150%; }
.textPos__right__big {
  text-align: right;
  font-size: 200%; }

.textCase__lower {
  text-transform: lowercase; }
.textCase__upper {
  text-transform: uppercase; }
.textCase__cap {
  text-transform: capitalize; }

.textStyle__bold {
  font-weight: bold; }
.textStyle__oblique {
  font-style: oblique; }

.size__horizontal__x-small {
  width: 10%; }
.size__horizontal__small {
  width: 25%; }
.size__horizontal__medium {
  width: 50%; }
.size__horizontal__big {
  width: 75%; }
.size__horizontal__max {
  width: 100%; }
.size__vertical__x-small {
  height: 10%; }
.size__vertical__small {
  height: 25%; }
.size__vertical__medium {
  height: 50%; }
.size__vertical__big {
  height: 75%; }
.size__vertical__max {
  height: 100%; }

@media (max-width: 600px) {
  .nav-btn ul {
    display: none; }

  .nav-btn select {
    display: inline-block !important;
    list-style-type: none;
    margin: 10% 0 0;
    -webkit-margin-before: 7%;
    padding: 0;
    overflow: hidden;
    width: 120px; } }
.margin__top__xx-small {
  margin-top: 15px;
  -webkit-margin-before: 1%; }
.margin__top__x-small {
  margin-top: 60px;
  -webkit-margin-before: 5%; }
.margin__top__small {
  margin-top: 180px;
  -webkit-margin-before: 15%; }
.margin__top__medium {
  margin-top: 360px;
  -webkit-margin-before: 30%; }
.margin__top__large {
  margin-top: 540px;
  -webkit-margin-before: 45%; }
.margin__top__x-large {
  margin-top: 720px;
  -webkit-margin-before: 60%; }
.margin__top__xx-large {
  margin-top: 900px;
  -webkit-margin-before: 75%; }
.margin__top__max {
  margin-top: 1140px;
  -webkit-margin-before: 100%; }
.margin__bottom__xx-small {
  margin-bottom: 15px;
  -webkit-margin-after: 1%; }
.margin__bottom__x-small {
  margin-bottom: 60px;
  -webkit-margin-after: 5%; }
.margin__bottom__small {
  margin-bottom: 180px;
  -webkit-margin-after: 15%; }
.margin__bottom__medium {
  margin-bottom: 360px;
  -webkit-margin-after: 30%; }
.margin__bottom__large {
  margin-bottom: 540px;
  -webkit-margin-after: 45%; }
.margin__bottom__x-large {
  margin-bottom: 720px;
  -webkit-margin-after: 60%; }
.margin__bottom__xx-large {
  margin-bottom: 900px;
  -webkit-margin-after: 75%; }
.margin__bottom__max {
  margin-bottom: 1140px;
  -webkit-margin-after: 100%; }
.margin__left__xx-small {
  margin-left: 15px;
  -moz-margin-start: 1%;
  -webkit-margin-start: 1%; }
.margin__left__x-small {
  margin-left: 60px;
  -moz-margin-start: 5%;
  -webkit-margin-start: 5%; }
.margin__left__small {
  margin-left: 180px;
  -moz-margin-start: 15%;
  -webkit-margin-start: 15%; }
.margin__left__medium {
  margin-left: 360px;
  -moz-margin-start: 30%;
  -webkit-margin-start: 30%; }
.margin__left__large {
  margin-left: 540px;
  -moz-margin-start: 45%;
  -webkit-margin-start: 45%; }
.margin__left__x-large {
  margin-left: 720px;
  -moz-margin-start: 60%;
  -webkit-margin-start: 60%; }
.margin__left__xx-large {
  margin-bottom: 900px;
  -moz-margin-start: 75%;
  -webkit-margin-after: 75%; }
.margin__left__max {
  margin-left: 1140px;
  -moz-margin-start: 100%;
  -webkit-margin-start: 100%; }
.margin__right__xx-small {
  margin-right: 15px;
  -webkit-margin-end: 1%; }
.margin__right__x-small {
  margin-right: 60px;
  -webkit-margin-end: 5%; }
.margin__right__small {
  margin-right: 180px;
  -webkit-margin-end: 15%; }
.margin__right__medium {
  margin-right: 360px;
  -webkit-margin-end: 30%; }
.margin__right__large {
  margin-right: 540px;
  -webkit-margin-end: 45%; }
.margin__right__x-large {
  margin-right: 720px;
  -webkit-margin-end: 60%; }
.margin__right__xx-large {
  margin-right: 900px;
  -webkit-margin-end: 75%; }
.margin__right__max {
  margin-right: 1140px;
  -webkit-margin-end: 100%; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-header {
  padding: 2px 16px;
  color: black; }

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }

.modal-body {
  border-top: 1px solid lightgray; }

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer; }

.home-btn {
  width: calc(50% - 30px); }

.nav-btn {
  width: calc(50% - 30px);
  display: inline-block;
  text-align: right; }

ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

li a {
  display: flex;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none; }

.nav-btn select {
  display: none; }

button {
  border: none;
  cursor: pointer; }

.docNav {
  position: fixed;
  top: 5%;
  width: 100%; }

footer {
  border-top: 1px solid lightgray; }

/*# sourceMappingURL=styles.css.map */
